<h3> Home </h3>
<%= current_user.username %>
<br>
<h6> 1. show how many goals they have with link to their goal's show page</h6>

<h3> You currently have <%= current_user.goals.count%> goal(s) that you are working towards!</h3>

<h6> 2. show how many books they have with link to their book's show page</h6>

<h3> You currently have <%= current_user.books.count%> book(s) on your bookshelf! </h3>





<h6> 4. link to create a new goal</h6>

<h6> 5. link to add a new book to their book shelf</h6>