<h3> Home </h3>
<%= current_user.username %>
<br>





<h3> You currently have <%= current_user.books.count%> <%=link_to "Book(s)", reader_books_path(current_user) %> on your bookshelf! </h3>


  





<%=link_to "Add a New Book to your bookshelf!", new_book_path %>