<h3> Home </h3>
<%= current_user.username %>
<br><br>




<% if current_user.reviews.count > 0 %>
<h3> You currently have <%= current_user.reviews.count%> <%=link_to "Review(s)", reader_reviews_path(current_user) %> on your bookshelf! </h3>
<%else%>
<h4>You have not written any reviews!</h4>
<%end%>
  





<%=link_to "Create a New Review!", new_reader_review_path(current_user) %>