<h3> This is the reader's home page </h3>
<h6> Here I want to show the indivuals profile page</h6>
<h6> 1. show how many goals they have with link to their goal's show page</h6>

<h6> 2. show how many books they have with link to their book's show page</h6>

<h6> 3. show their username </h6>

<h6> 4. link to create a new goal</h6>

<h6> 5. link to add a new book to their book shelf</h6>