<h1>Show Page for Goal</h1>

<p>Description: <%=@goal.description%></p>
<p>Completion Date: <%=@goal.completion_date%></p>
<%=link_to "Edit",  edit_goal_path(@goal)%>



<h3>button_to</h3>
<%=button_to("Delete", @goal, method: :delete, data: { confirm: "Really?" }) %>


